<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title><%= title%></title>
</head>
<body>
<%- include('../partials/nav.ejs'); %>
<h1>About US</h1>
<div class="img1div">
<img src="https://img.freepik.com/free-vector/contact-us-concept-landing-page_52683-18637.jpg?size=626&ext=jpg" alt="loading">

</div>
<div class="img1div">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, fugiat consequatur nostrum, e
        arum explicabo nulla dicta in odit ut accusantium, deserunt facilis voluptas quia tempore aliq
        uam! Architecto veniam aspernatur qui numquam voluptate, nisi cumque, neque suscipit, expli
        cabo et illo fuga!

    </p>
    <button></button>
</div>


  

    
    
    
    

</body>
</html>